.research{
    display: flex;
    justify-content: center;
}
.research-txt{
    margin: 10px;
}
.research-cat{
    margin: 10px;
}
.txt{
    width: 100%;
    margin: 10px;
}
.col-margin{
    margin: 10px;
}
.description{
    text-align: justify;
}
@media (max-width: 600px) {
