/* Parametre Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

section {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 6px;
}
section h1 {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

/* Boutton */
.link {
    margin: 10px;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: space-around;
    display: inline-block;
    background-color: #d5bdaf;
    color: #fff;
    padding: 15px 15px;
    border-radius: 6px;
    font-size: 14px;
}
